@page "/"

<h1>Hello, world!</h1>
<br />

<button @onclick="Launch">Pop</button>

@code {

    [Inject]
    public OrakTech.BlazorToast.Services.Toasts.IToastService toaster { get; set; }

    void Launch()
    {
        toaster.AddToast(toast);
    }

    ToastModel toast => new ToastModel
    {
        Title = "Demonstration",
        Content = "Hello",
        IconColor = "red"
    };
}