
.button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.show {
    -webkit-animation: slideup 0.5s;
}
@-webkit-keyframes slideup {
    from {
        margin-top: calc(100vh);
        opacity: 0;
    }

    to {
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes slideup {
    from {
        margin-top: calc(100vh);
        opacity: 0;
    }

    to {
        margin-top: 0;
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}